@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

p{
    font-family: 'Handjet', cursive;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 30px;  
    line-height: 1em;
    font-weight: bold;
}