.con {
    background-color: antiquewhite;
    border: 5px blueviolet solid;
    border-radius: 15px;
    /* text-align: center; */
    /* paddind for top bottom left right 
    padding-top: 9px;
    padding-left: 9px; */

    /* padding = top right bottom left;
    padding: 23px 10px 10px 25px; */

    /* padding: y(top/bottom) x(left/right); */
    padding: 30px 30px;
    margin: 14px 30px;

    box-sizing: border-box;
}
